<%- include("partials/header") -%>

<img src="user.png" style="width:10%; float:left; margin-right:20px;">
<h1> <%=username%></h1>
<div class="row">
  <div class="col-lg-1 col-md-1" style="margin-right:10px; padding:0;">
    <a href="/compose" class="btn btn-primary">Compose</a>
  </div>
  <div class="col-lg-1 col-md-1" style="padding:0;">
    <form method="post" action="/account">
      <button type="submit" class="btn btn-danger" name="logout" value="logout">Logout</button>
    </form>
  </div>
</div>

<% posts.forEach(function(post){ %>
<% var input=post.body.substring(0,100); %>
  <h1><%=post.title%></h1>
  <p>
    <%=input%>...<a href="/userposts/<%=post._id%>" >Read More</a>
  </p>
<% }) %>

<% if(posts.length===0){ %>
  <h2>No Blogs Yet</h2>
<% } %>
<%- include("partials/footer") -%>
